{% extends 'hostel/base_cards.html' %}

{% block cards %}
  {% for room in rooms_list %}
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                {% for student in room %}
                  {% ifchanged student.room %}
                    <h5 class="card-title">{{ student.room }}</h5>
                  {% endifchanged %}

                  {% if student.name == '' %}
                    <p>
                      <a class="card-text" href="{% url 'check_in_update_url' id=student.id %}" method="post">{{ student.place_status }} </a>
                    </p>
                  {% else %}
                    <p>
                      <a class="card-text" href="{{student.get_absolute_url}}">{{ student.name }} </a>
                    </p>
                  {%endif%}
                {%endfor%}
                {% for student in room %}
                  {% ifchanged student.room %}
                    <a href="{{student.room_url}}" class="btn btn-primary">Информация о комнате</a>
                  {% endifchanged %}
                 {% endfor %}
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}
