{%extends 'hostel/base_home.html'%}

{%block number%}
	<p>
	Количество проживающих: {{residents}}
	</p>

	<p>
		Количество свободных мужских мест: {{male_places}}
	</p>

	<p>
		Количество свободных женских мест: {{female_places}}
	</p>

	<p>
		Количество мест "занято": {{save_places}}
	</p>

	<p>
		Количество мест "пустое": {{empty_places}}
	</p>

	{% for key, value in country.items %}
		<p>
			{{key}} : {{value}}
		</p>
	{% endfor %}


	{% for key, value in faculty.items %}
		<p>
			{{key}} : {{value}}
		</p>
	{% endfor %}

	
	{% for key, value in form.items %}
		<p>
			{{key}} : {{value}}
		</p>
	{% endfor %}
	
{% endblock %}


